<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %}
  {%- seo -%}
  {% endcomment %}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
  <link rel="shortcut icon" type="image/ico" href="{{ "/favicon.ico" | relative_url }}">
  <script type="text/javascript" src="{{ "/assets/w3schools-cookie.js" | relative_url }}" ></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->

  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {% comment %} {%- include google-analytics.html -%} {% endcomment %}
  {%- endif -%}

</head>
