<div id="load_block">
    <style>
        #load_block {
            position: fixed;
            background-color: blanchedalmond;
            opacity: 0.7;
            top:0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
    <div class="centerder">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <style>
        .centerder {

            position:fixed;
            min-width: 6.4em;
            padding:0;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        /* animated loader icon from https://loading.io/css/ */
        .lds-roller {
            display: inline-block;
            position: relative;
            width: 6.4em;
            height: 6.4em;
        }
        .lds-roller div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 3.2em 3.2em;
        }
        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 0.6em;
            height: 0.6em;
            border-radius: 50%;
            background: #fff;
            margin: -0.3em 0 0 -0.3em;
        }
        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }
        .lds-roller div:nth-child(1):after {
            top: 5.0em;
            left: 5.0em;
        }
        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }
        .lds-roller div:nth-child(2):after {
            top: 5.4em;
            left: 4.5em;
        }
        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }
        .lds-roller div:nth-child(3):after {
            top: 5.7em;
            left: 3.9em;
        }
        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }
        .lds-roller div:nth-child(4):after {
            top: 5.8em;
            left: 3.2em;
        }
        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }
        .lds-roller div:nth-child(5):after {
            top: 5.7em;
            left: 2.5em;
        }
        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }
        .lds-roller div:nth-child(6):after {
            top: 5.4em;
            left: 1.9em;
        }
        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }
        .lds-roller div:nth-child(7):after {
            top: 5.0em;
            left: 1.4em;
        }
        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }
        .lds-roller div:nth-child(8):after {
            top: 4.5em;
            left: 1.0em;
        }
        @keyframes lds-roller {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</div>