
ul.multiple-choice-questionnaire {
    list-style-type: "\2192 \0020 \0020";
    color:#80af85;
    max-width: 30em;
}


ul.multiple-choice-questionnaire li * {
    color:initial;
}

ul.multiple-choice-questionnaire  summary {
    color:coral;
}

ul.multiple-choice-questionnaire  summary > span{
    color:initial;
}
/*https://stackoverflow.com/questions/38213329/how-to-add-css3-transition-with-html5-details-summary-tag-reveal*/
details[open] {
    animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

/*@keyframes sweep {*/
    /*0%    {opacity: 0; margin-left: -10px}*/
    /*100%  {opacity: 1; margin-left: 0px}*/
/*}*/


details[open] {
    background-color:cornsilk;
    border:none;
}
details[open] > summary{
    background-color:gainsboro;
    border:none;
}

details > summary{
    cursor:pointer;
    /*background-color:#80af85;*/
    border-bottom-color: #80af85;
    border-bottom-style: solid;
    border-bottom-width:1px;
    /*border-color:cornsilk;*/
}

