<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>


    {%- include header.html -%}

  <script type="text/javascript">
    // setCookie("Ftested","", );//debug: reset cookie
    var modal_prefix = "jek_";
    var show_body = true;
    var no_body_message = "<p><b>Problem: </b>Insufficient capabilities of your browser</p>";
    var no_details_message = "";
    var no_audio_context_message = "";

    /**
     * Function to remove the blocking backdrop and loader icon
     */
    function deblockPage(){
      if (show_body === true){
        document.getElementById('load_block').remove()
      };
    }

    /**
     * Run things that are to slow to wait for (like loading of iframes).
     */
    function startDeferred(){
      // first deblock the page
      deblockPage();

      if (show_body === true){
        // get all deferred iframes
        var deferred_iframes = document.getElementsByClassName("deferred-iframe");
        for (var i = 0; i < deferred_iframes.length; i++) {
          var new_src = deferred_iframes[i].getAttribute("data-replace-src");
          var new_allow = deferred_iframes[i].getAttribute("data-add-allow");
          var new_allowfullscreen = deferred_iframes[i].getAttribute("data-add-allowfullscreen");
          deferred_iframes[i].setAttribute("src", new_src);
          deferred_iframes[i].setAttribute("allow", new_allow);
          deferred_iframes[i].setAttribute("allowfullscreen", new_allowfullscreen);
        }
      };


    }

    /**
     * try to set a on page load event action.
     */
    if (window.addEventListener)
      window.addEventListener("load", startDeferred, false);
    else if (window.attachEvent)
      window.attachEvent("onload", startDeferred);
    else window.onload = startDeferred;

    /**
     * Feature test function for html5 details tag.
     */
    function test_details () {
      // set property open to true: is browser supports details-tag, .hadAtribute('open') will be true, else false
      let test_details = document.createElement('details');
      // set open property
      test_details.open = true;

      if(!(test_details.hasAttribute('open')===true)){
        no_details_message = "<p><b>Details-tag: </b>Your browser does not support html5 tag DETAILS</p>";
        show_body = false;
      }

      test_details.remove();

    }

    /**
     * Function to check on support for AudioContext.
     *
     * @returns {boolean}
     */
    function supports_audio_context() {
      return (typeof AudioContext === 'function') || ('AudioContext' in window);
    }


    /**
     * Function uses coookie to prevent repeated feature testing.
     */
    function checkFeaturesTested(){
      var features_tested = getCookie("Ftested");

      if (features_tested === "ok") {
        //do nothing
      }else if (features_tested === "rejected" ){
        // destroy site
        show_body = false;
      }else {
        // run tests and set cookie to ok or rejected
        test_details();

        if(!supports_audio_context()){
          console.log("no_audio_context");
          no_audio_context_message = "<p><b>AudioContext: </b>Your browser does not support the AudioContext interface</p>";
          show_body = false;
        }

        if(show_body === true){
          //tests were ok
          setCookie("Ftested", "ok", "100");

        }
      }
    }
    checkFeaturesTested();

    // todo: test for css custom properties (variables) and css calc()
    // for instance create a dom element with a width and a height defined with a css custom property   and checking the width
    // and the height that is defined with a calc()

  </script>
  <script type="module">
    //ignored if browser does not understand 'type="module"'
	import { SimpleModal as modal }   from 'https://unpkg.com/@wowter/simple-modal@1.0.5/assets/javascript/modules/src/simple-modal.js';
    const modalInstance = new modal(modal_prefix);
	let message_here = `${no_body_message} 
	<details>
	  <summary><b>Details for your browser:</b></summary>
	  <p><b>Agent: </b>${ navigator.userAgent }</p>
	  ${ no_details_message }
	  ${ no_audio_context_message }
	</details>
	<p style="font-size:0.7em;font-style:italic">This modal was brought to you by<br /><b>napnop.net</b></p>
	`;

	if(show_body === false){
        modalInstance.showMessage(message_here,"<br><u><b><details><summary><p>","OK");
    }

  </script>
  <!--see https://jakearchibald.com/2017/es-modules-in-browsers/-->
  <!--browsers that understand type="module",  ignore script tags that have the nomodule attribute-->
  <script nomodule>
    show_body = false;
    var messageToBadBrowserUsers = "Your browser does not support javascript initiated as \"type=module\".\n" +
        "Important functionality of this site is disabled for that reason.\n" +
        "Please contact your browser provider.";
    alert(messageToBadBrowserUsers);
    console.log(messageToBadBrowserUsers);
	
  </script>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- include page_blocker.html -%}

  <script type="text/javascript" defer>

   if(show_body === false){
     var removeables = document.querySelectorAll("header, main, footer, #load_block");

     for (var i = 0; i < removeables.length; i++) {
       removeables[i].remove();
     }

     var exit_text =  "Due to insufficient capabilities of your browser, the page is not shown...";
     var exit_text_textnode = document.createTextNode(exit_text);
     document.getElementsByTagName("body")[0].prepend(exit_text_textnode);
   }
  </script>

  </body>

</html>
